body {
	padding-top: 62px;
	font-size: 170%;
}
.navbar-nav > li > a {
	padding-top: 4px !important;
	padding-bottom: 0 !important;
	height: 58px;
}
.navbar-brand {
  padding:0;
}
.navbar {
	height:62px !important;
  background-color: white;
}
.navbar .list-inline {
	margin-bottom: 0 !important;
}
.navbar-nav, .navbar-nav li, .navbar-nav li a {
  height: 50px;
  line-height: 50px;
}

.navbar-right img {
  width: 24px;
  height: 24px;
}

.red { color: white; background-color: #FF6B8C; }
.white { color: black; background-color: white; }
.blue { color: white; background-color: #36C1E5; }
.gray { color: black; background-color: #ccc; }

h1 { font-size: 180%; font-weight: 900; }

.big {
  padding-top: 96px;
  padding-bottom: 96px;
}

.med {
	padding-top: 48px;
	padding-bottom: 48px;
}

.note {
	font-size: 80%;
}

.date {
  height: 100%;
	min-height: 100%;
}

.date div {
	color: black;
	background-color: white;
}

.date div p {
  padding: .2em .5em;
  margin: 0;
}

.date h3 {
  color: white;
	background-color: #DD365B;
	font-size: 120%;
	padding: 6px;
  margin-bottom: 0;
}

.date.past h3 {
  color: white;
	background-color: #999;
}

.date div p:nth-child(2n+1) {
  background-color: #ddd;
}

.date div p.ppl-mix {
  background-color: #FFC7D4;
}

#footer {
	text-align: center;
}

.support {
  text-align: left;
  background-color: white;
  color: black;
  padding: .4em;
  line-height: 2em;
}
#support a {
  margin-right: 48px;
}
